---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<a href="/api/package" download="package">download p5.js kit</a>
	</main>
</Layout>
<style>
	main {
		text-align: center;
		/* Geometric Humanist */
		font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
			sans-serif;
		font-weight: normal;
	}
	main a {
		display: inline-block;
		padding: 1rem 2rem;
		background-color: #f0f0f0;
		color: #333;
		text-decoration: none;
		border-radius: 0rem;
		transition: all 250ms;
	}
	main a:hover {
		background-color: #ff6347;
		color: #f0f0f0;
	}
</style>
