<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>p5.js Starter Kit</title>
		<!-- Open Graph tags -->
		<meta property="og:title" content="p5.js Starter Kit" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://p5kit.inpyjamas.dev" />
		<meta property="og:image" content="https://p5kit.inpyjamas.dev/og.png" />
		<meta
			property="og:description"
			content="A optinonated starter kit for p5.js projects."
		/>
		<meta property="og:site_name" content="p5.js Starter Kit" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	html,
	body {
		margin: 0;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}
</style>
